BOT_TOKEN=
DATABASE_URL=
GROUP_ID=
BOT_USERNAME=
ADMIN_IDS=
TRUSTED_IDS=
SUPER_TRUSTED_IDS=
TZ=Europe/Paris
REDIFFUSION_GROUP_ID=
MAX_HASH_DOWNLOAD_BYTES=20971520
MISE_PYTHON_GITHUB_ATTESTATIONS=false
