BOT_TOKEN=TON_NOUVEAU_TOKEN
BOT_USERNAME=TonBotUsername
ADMIN_IDS=5296696302
TRUSTED_IDS=111111111,222222222
GROUP_ID=-1003812221754
DATABASE_URL=${{Postgres.DATABASE_URL}}
TIMEZONE=Europe/Paris
WEBHOOK_URL=https://TONAPP.up.railway.app
PORT=8080

MAX_HASH_FILE_MB=20

SUPER_TRUSTED_IDS=

REDIFFUSION_GROUP_ID=-1004487301432
